@page "/components"
@inject HttpClient Http

<h1>Component Lists</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (components == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Component Full Name</th>
                <th>Short Description</th>
                <th>Versions</th>
                <th>More</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in components)
            {
                <tr>
                    <td>@c.FullName</td>
                    <td>@c.Description</td>
                    <td>@c.Version</td>
                    <td>
                        <NavLink class="nav-link" href="@c.GetLinkName()">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Go
                        </NavLink>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ComponentInfo[] components;

    protected override async Task OnInitializedAsync()
    {
        components = await Http.GetFromJsonAsync<ComponentInfo[]>("sample-data/components.json");
    }

    public class ComponentInfo
    {

        public string FullName { get; set; }
        public string Description { get; set; }
        public string Version { get; set; }
        public string LinkName { get; set; }

        public string GetLinkName()
        {
            return $"components/{LinkName}";
        }
    }
}
