<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="dependencyVersion" value="Highest" />  
    <add key="defaultPushSource" value="hcbbaget" />
  </config>

  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="hcbbaget" value="http://172.105.115.45/v3/index.json" protocolVersion="3" />
  </packageSources>
  
  <packageSourceCredentials>
    <hcbbaget>
      <add key="username" value="hcbbaget" />
      <add key="cleartextpassword" value="P@ssw0rd5@5" />
    </hcbbaget>  
  </packageSourceCredentials>
  <apikeys>
      <add key="http://172.105.115.45/api/v2/package" value="test" />
  </apikeys>
</configuration>