@page "/readme"

<h1>RCL Gallery Readme</h1>

This readme explains how to use this Gallery.

<h2>Adding a new Component</h2>

<ul>
    <li>Create a new file for the component. Example "NewComponent.razor"</li>
    <li>Import the component such as "@@using HCB.Internal.Web.RCL"</li>
    <li>
        Use the component such as below.
        <pre class="alert alert-secondary mt-4">
            @text
        </pre>
    </li>
</ul>


@code{
    public string text = @"<NewComponent propertyName=""SomeValue"" />";
}