@using Microsoft.JSInterop
@using System.Threading.Tasks
@inject IJSRuntime jsRuntime

<!-- Modal -->
<div class="modal fade @showModal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    style="@modalStyle" aria-hidden="true" @onclick="closeModal">
    <div class="modal-dialog" role="document" @onclick:stopPropagation="true">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    @onclick="closeModal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@if (showModal == "show")
{
    <div class="modal-backdrop fade show"></div>
}
@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public string showModal = "";
    public string displayStyle = "display: block; padding-right: 17px;";
    public string modalStyle = "";
    public void openModal()
    {
        showModal = "show";
        modalStyle = displayStyle;
    }
    public void closeModal()
    {
        showModal = "false";
        modalStyle = "";
    }
}